# Compiled
__pycache__/

# Temporary
.tmp/
**/data/**
# Tests
.pytest_cache

# Environments
.env
.venv
env/
venv/

# Notebooks
.ipynb_checkpoints/

# Distribution
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
node_modules/

# Local Docker Environment
/database
/server/OMERO
/server/data
/server/var
/web/var
/web/apps/**/*.egg-info
/web/apps/**/__pycache__
/artifacts

.DS_Store
/data/**
*.wpp
*.wpp
/data/HT001786 2.34.47 PM
